*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    background: #1D2B64;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );

    height: 30rem;
    width: 25rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    


}